<div class="grid">
  <div class="col-12">
    <div class="flex justify-content-center align-content-center text-align-center">
      <!-- LOGIN -->
      <form>
        <p-card
        styleClass="mt-10"
        header="Login"
        subheader="Faça login com sua conta existente!"
        *ngIf="loginCard">

        <div class="flex justify-content-center align-content-center text-align-center">
          <input type="email" pInputText placeholder="email">
        </div>
        <div class="flex justify-content-center align-content-center text-align-center mt-3">
          <input type="password" pInputText placeholder="Senha">
        </div>
        <div class="card flex justify-content-center mt-3">
          <button
          type="submit"
          pButton
          pRipple
          label="Login"
          ></button>
          </div>
          <span class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          (click)="loginCard = false"
          style="cursor: pointer;">Criar conta</span>
        </p-card>
      </form>

      <!-- SIGNUP -->
      <form>
        <p-card
        styleClass="mt-10"
        header="Criar conta"
        subheader="Crie já sua conta gratuita!"
        *ngIf="!loginCard">

        <div class="flex justify-content-center align-content-center text-align-center">
          <input type="text" pInputText placeholder="Nome">
        </div>
        <div class="flex justify-content-center align-content-center mt-3 text-align-center">
          <input type="email" pInputText placeholder="E-mail">
        </div>
        <div class="flex justify-content-center align-content-center text-align-center mt-3">
          <input type="password" pInputText placeholder="Senha">
        </div>
        <div class="card flex justify-content-center mt-3">
          <button
          type="submit"
          pButton
          pRipple
          label="Criar conta"
          ></button>
          </div>
          <span class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
          (click)="!loginCard = true"
          style="cursor: pointer;">Fazer login</span>
        </p-card>
      </form>
    </div>

  </div>
</div>
